<div id="app" class="container">
  <div class="title">
    <h1 class="nes-text">足元のペダルを踏んでアンケートに回答してね！</h1>
  </div>
  <!-- v-ifの真偽値で表示を切り替えることができる -->
  <button v-if="startFlg!=true" type="button" class="nes-btn is-primary startButton mb-20" @click="AnswerStart">アンケートに回答する</button>
  <div v-if="startFlg==true && currentQuestionCounts != TotalQuestionCounts " class="quesion mb-20">
    <p>{{ currentQuestion }}</p>
    <label><input type="radio" class="nes-radio" v-on:keydown.a="onKeyDown" v-model="keyValue">左：{{ currentquestionKeyValueA }}</label>
    <label><input type="radio" class="nes-radio" v-on:keydown.b="onKeyDown" v-model="keyValue">中央：{{ currentquestionKeyValueB }}</label>
    <label><input type="radio" class="nes-radio" v-on:keydown.c="onKeyDown" v-model="keyValue">右：{{ currentquestionKeyValueC }}</label>
    <div class="nes-progress gaudeWrapper mb-20">
      <div v-bind:style="styleObject" class="gauge"></div>
    </div>
    <div>{{ currentQuestionCounts }}/{{ TotalQuestionCounts }}</div>
  </div>
  <div v-if="currentQuestionCounts == TotalQuestionCounts" class="finish">
    <p>回答ありがとうございました<i class="nes-icon is-medium star"></i></p>
    <div class="nes-progress gaudeWrapper mb-20">
      <div v-bind:style="styleObject" class="gauge"></div>
    </div>
    <div>{{ currentQuestionCounts }}/{{ TotalQuestionCounts }}</div>
  </div>
</div>