@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
  font-family: "DotGothic16", sans-serif;
  font-size: inherit;
}

body {
  font-size: 32px;
  /* ★TODO: ↓画像URL変更する */
  background-image: url("https://cdn.pixabay.com/photo/2018/08/13/03/00/lego-3602218_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
  position: relative;
}

.mb-20 {
  margin-bottom: 20px;
}

.container {
  width: 700px;
  height: 500px;
  text-align: center;
  font-size: 40px;
  color: rgb(46, 46, 46);
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.title {
  position: relative;
  font-size: 30px;
}

.startButton {
  width: 400px;
  font-size: 35px;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gaudeWrapper {
  border: 1px solid rgb(124 124 124 / 20%);
  height: 40px;
}

.gauge {
  height: 40px;
  transition: all 0.3s ease;
}
